/* input,
select,
textarea {
  background-color: transparent;
  box-sizing: border-box;
  box-shadow: none;
  max-width: 100%;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: inherit;
  border-radius: 3px;
  font: inherit;
  margin: 0.5em 0px;
  padding: 0.75em;
  transition: border-color 0.2s ease 0s;
}

textarea {
  min-height: 6rem;
}

label > span {
  display: block;
}

.react-tagsinput-tag {
  background: #eee;
  padding: 6px 10px;
  margin: 0 6px 0 0;
}
.react-tagsinput-input {
  margin-top: 1rem;
  display: block;
} */
