body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #70ffba;
}

h1 {
  color: blue;
  font-family: 'Indelible';
  text-shadow: 2px 2px 0 #bf6b8e;
  font-size: 6rem;
  text-align: center;
  transform: scale(1) rotate(-11deg);
}
h3 {
  color: #bf6b8e;
  font-family: 'Potra';
  font-size: 4rem;
  text-align: center;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
